a{
    font-size: 30px;
    color:black;
    text-decoration: none;
    margin: 40px 40px 40px 40px;
    display: inline-block;
    background:white;
    box-shadow: 0px 5px 0px black;
    padding: 10px 20px;

}

a:hover{
    box-shadow: 0px 2px 0px black;
    background: rgb(224, 221, 221);
}

a:active{
    box-shadow: none;
   
}